html {
  overflow-y: scroll;
}

body {
  background-color: #c1c1c1;
  margin: 50px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: #004D00;
}

.container {
  background-color: #E9FFEA;
  width: 940px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}

.header, .rodape {
  width: 100%;
  display: flex;
  align-items: center;
}

.content {
  width: 100%;
  /* order: 2; */
  /* border-right: 1px dashed #000000; */
  padding: 20px;
}

.list-container {
  display: flex;
  flex-direction: row;
  /* padding: 20px; */
  align-items: center;
  justify-content: space-around;
}

.menu {
  width: 25%;
  order: 3;
  padding: 5px;
  font-size: 110%;
}

.header {
  border-bottom: 1px solid #000000;
  padding: 10px;
  margin-bottom: 20px;
}

.rodape {
  order: 4;
  border-top: 1px solid #000000;
  padding: 30px;
  margin-top: 20px;
}

.header img {
  width: 300px;
  margin-right: 10px;
}

.header .img-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.header .img-container a{
  margin-left: 20px;
}

.header h1 {
  font-size: 180%;
  text-transform: uppercase;
  color: #006A03;
}

.header h2 {
  font-size: 160%;
  color: #008903;
}

.rodape img {
  width: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.rodape .autor {
  font-weight: bold;
  color: #7E0000;
}

.content p {
  text-align: justify;
  line-height: 150%;
  text-indent: 3em;
}

.content h3 {
  text-transform: uppercase;
  font-size: 110%;
  font-weight: bold;
  border-bottom: 1px dotted #000000;
  margin-bottom: 10px;
  padding-left: 20px;
  width: 60%;
  background: url('/imagens/seta.png') no-repeat 0 center;
}

.content h4 {
  font-size: 120%;
  font-weight: bold;
}

.content img {
  float: left;
  margin: 10px;
  width: 50px;
}

.content img.secundaria {
  float: right;
  width: 180px;
}

.content span.text-emphasis {
  /* text-emphasis: inherit; */
  
  /* color: #7E0000; */
}

.list-container ul{
  list-style-type: disc;
}

.menu h3{
  padding: 5px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.menu h3::before {
  content: url('/imagens/menu.png');
  margin-right: 5px;
}

.menu li {
  border-bottom: 1px solid #4EA947;
}

.menu li:first-of-type {
  border-top: 1px solid #4EA947;
}

.menu li a {
  padding: 20px;
  display: block;
  padding-left: 40px;
  background: url('/imagens/seta.png') no-repeat 20px center;
}

.menu li a:hover {
  background-color: #02D700;
}