body {
  background-color: #c1c1c1;
  margin: 50px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: #004D00;
}

.container {
  background-color: #E9FFEA;
  width: 940px;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}

.header {
  border-bottom: 1px solid #000000;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.presentation {
  display: flex;
  flex-direction: column;
}

.header img {
  width: 300px;
  margin-right: 10px;
}

.header h1 {
  font-size: 120%;
  text-transform: uppercase;
  color: #006A03;
}

.header h1.page-section-title {
  margin-top: 20px;
}

.header h2 {
  font-size: 110%;
  color: #008903;
}

.content {
  align-items: center;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.content h1 {
  font-size: 120%;
  text-transform: uppercase;
  color: #006A03;
  margin-bottom: 20px;
}

.list{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: disc;
  margin: 0 auto;
}

.list li {
  margin-top: 10px;
}

.list li:first-of-type {
  margin-top: 20px;
}